:root{
    --dark: #0D1821;
    --indigo: #344966;
    --steel: #B4CDED;
    --light: #F0F4EF;
    --sage:#BFCC94;
}

#main_name{
    font-size: 4em;
    text-shadow: 0.03em 0.03em var(--steel);
}

.nav_text{
    color: var(--light);
    font-family: "Georgia", serif;
    font-size: 0.8em;
    padding: 2%;
}




.instagram-media{
    display:none;
}