html{
    background-color: var(--indigo);
}



.grid3{
    display:grid;
    width: 80%;
    margin: auto;
    grid-template-columns: auto;

}

.img_small{
    width:8em;
    padding: 8%;
}

.grid2{
    width: 60%;
}

.news_story{
    width: 20em;
}

.news_image{
    width: 10em;
}

#anja_headshot{
    width: 10em;
}

.bio{
    width: 20em;
}