html{
    background-color: var(--sage);
}

body{
    width: 95%;
    font-size: smaller;
}

.grid1{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
}

.news_image{
    width: 20em;
}

h1{
    font-size: medium;
    max-width: 75%;
}

h2{
    font-size: small;
    max-width: 75%;
}

p{
    font-size: x-small;
    max-width: 75%;
}

.tweet{
    width: 5em;
}


#anja_photo{
    width: 60%;
    margin: auto;
    padding: 2.5%;
}


.grid2{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
}

.news_story{
    padding: 1%;
    margin:2%;
    margin:auto;
}


.grid3{
    display:grid;
    width: 80%;
    margin: auto;
    grid-template-columns: auto auto;

}

.img_small{
    width:10em;
    padding: 8%;
}

#anja_headshot{
    width: 20em;
}