html{
    background-color: var(--sage);
}

body{
    width: 80%;
    font-size: smaller;
}

.grid1{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
}



#anja_photo{
    width: 60%;
    margin: auto;
    padding: 2.5%;
}


.grid2{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
}


.grid3{
    display:grid;
    width: 80%;
    margin: auto;
    grid-template-columns: auto auto;

}

.img_small{
    width:10em;
    padding: 8%;
}

#anja_headshot{
    width: 20em;
}