:root{
    --dark: #0D1821;
    --indigo: #344966;
    --steel: #B4CDED;
    --light: #F0F4EF;
    --sage:#BFCC94;
}

html{
    background-color: var(--steel);
}

img{
    width: 200px;
}

h1{
    font-family: "Georgia", serif;
    color: var(--sage);
    font-size: 20pt;
    width: 80%;
    margin: auto;
}

h2{
    font-family: "Georgia", serif;
    text-decoration: none;
    color: var(--steel);
    font-size: 16pt;
}

h3{
    font-family: "Georgia", serif;
    text-decoration: none;
    color: var(--steel);
    font-size: 12pt;

}


p, ul{
    color: var(--dark);
    text-decoration: none;
    font-family: "Georgia", serif;
    padding: 2.5%
}

body{
    background-color: var(--light);
    color: var(--dark);
    font-family: "Optima", sans-serif;
    border-radius: 0.2em;
    text-decoration: none;
    width:85%;
    height: 100%;
    margin:auto;
    border-style: dotted;
    border-color:var(--sage);

}

#index_flex{

    display: flex;
    margin: 4%;


    #left{
        width: 35%;
        padding: 2%;
        #anja_headshot, #wosv{
            width:125%;
            padding-bottom: 15%;
        }

        #wosv{
            width:80%;
            padding-bottom: 15%;
        }


    }

    #center{
        width: 50%;
        padding: 2%;
        .photobooth{
            padding-left:2.5%;
            padding-top:7.5%;
            width:150px;
        }

    }

    #right{
        width: 15%;
        padding: 2%;
        border-radius: 0.2em;
        background-color: var(--steel);


        .fav_title{
            font-size: 10px;
            color: var(--indigo);
        }
        .spotify{
            width: 180px;
            height: 80px;
            margin: auto;
            padding-right: 5px;
            padding-left: 5px;
        }
        #fav_colors, .fav_foods{
            width: 180px;
            margin: auto;
            padding-right: 5px;
            padding-left: 5px;
        }
        #favorite{
            font-size: 14px;
            color: var(--indigo);
        
        }
    }
}



.grid1{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
}



.news_story{
    width: 70%;
    margin: auto;
    padding: 2.5%;
    text-align: center;
    border-style: dotted;
    border-color:var(--sage);
}

#impact{
    grid-area:1/1/2/2;
}


#giv_spotlight{
    grid-area:2/1/3/2;
}

#spotlight{
    grid-area:3/1/4/2;
}


#scholarship{
    grid-area:4/1/5/2;
}



#sophomore_award{
    grid-area:5/1/6/2;
}

#giv_insta{
    grid-area:6/1/7/2;
}

#wage{
    grid-area:7/1/8/2;    
}

#cs_fair{
    grid-area:8/1/9/2;
}

#mhs_award{
    grid-area:9/1/10/2;
}

#maker{
    grid-area:10/1/11/2;
}

#giv{
    grid-area:11/1/12/2;
}



#pdf{
    width: 80%;
    height: 100%;
    margin: auto 10%;
}

.nav_text{
    color: var(--light);
    font-family: "Georgia", serif;
    font-size: 30px;
    padding: 15px;
}

.footer{
    color: var(--light);
    font-family: "Georgia", serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.5px;

}

.active{
    color: var(--sage);
}

nav, footer{
    background-color: var(--indigo);
    text-align: center;
    padding: 1%;
    margin: 4%;
    border-radius: 0.2em;
}

.nav_link{
    color: var(--light);
    text-decoration: none;
    padding: 5% 1%;
}



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



