.sec1{
    grid-area:2/1/3/2;
}
.sec2{
    grid-area:3/1/4/2;
}
.sec3{
    grid-area:4/1/5/2;
}
.text{
    grid-area:2/1/3/2;
    padding: 5%;
    margin: auto;
}

.p1{
    padding: 2.5%;
    max-width: 15em;
}

.p2{
    padding: 2.5%;
    max-width: 15em;
}

.p3{
    padding: 2.5%;  
    max-width: 15em;
}

.p4{
    padding: 2.5%;
    max-width: 15em;
}
table{
    width: 2em;
    padding: 5%;
    font-size: x-small;
}
.shorter{
    height: 40em;
}

.phone_small{
    height: 15em;
}